<a href="https://colab.research.google.com/github/phegde93/Processing_Huge_Data/blob/main/Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
!pip install jovian --upgrade -q
import jovian
jovian.set_project('processing-huge-data')
jovian.set_colab_id('1rC7I80xMvHq3ggz5aUbF7QxaaR1mvwKq')

In [41]:
import pandas as pd
import numpy as np

In [42]:
# opendatasets to download the data set from API
!pip install opendatasets --quiet

In [43]:
import opendatasets as od

In [44]:
# url from kaggle
us_accidents_url = "https://www.kaggle.com/sobhanmoosavi/us-accidents"

In [45]:
od.download(us_accidents_url)

Skipping, found downloaded files in "./us-accidents" (use force=True to force download)

In [46]:
jovian.commit()

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...

[jovian] Error: Looks like the notebook is missing output cells, please save the notebook and try jovian.commit again.

Committed successfully! https://jovian.ai/phegde/processing-huge-data

'https://jovian.ai/phegde/processing-huge-data'

In [47]:
%%time
## Reading the huge data file using pandas and measing time taken
accidents_df = pd.read_csv("/content/us-accidents/US_Accidents_Dec20_updated.csv")

CPU times: user 22.1 s, sys: 1.98 s, total: 24.1 s
Wall time: 30.4 s

In [48]:
accidents_df.head()

          ID  Severity  ... Nautical_Twilight Astronomical_Twilight
0  A-2716600         3  ...             Night                 Night
1  A-2716601         2  ...             Night                 Night
2  A-2716602         2  ...             Night                   Day
3  A-2716603         2  ...             Night                   Day
4  A-2716604         2  ...               Day                   Day

[5 rows x 47 columns]

In [49]:
accidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1516064 entries, 0 to 1516063
Data columns (total 47 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   ID                     1516064 non-null  object
 1   Severity               1516064 non-null  int64
 2   Start_Time             1516064 non-null  object
 3   End_Time               1516064 non-null  object
 4   Start_Lat              1516064 non-null  float64
 5   Start_Lng              1516064 non-null  float64
 6   End_Lat                1516064 non-null  float64
 7   End_Lng                1516064 non-null  float64
 8   Distance(mi)           1516064 non-null  float64
 9   Description            1516064 non-null  object
 10  Number                 469969 non-null   float64
 11  Street                 1516064 non-null  object
 12  Side                   1516064 non-null  object
 13  City                   1515981 non-null  object
 14  County                 1516064 non-null  object
 15  State                  1516064 non-null  object
 16  Zipcode                1515129 non-null  object
 17  Country                1516064 non-null  object
 18  Timezone               1513762 non-null  object
 19  Airport_Code           1511816 non-null  object
 20  Weather_Timestamp      1485800 non-null  object
 21  Temperature(F)         1473031 non-null  float64
 22  Wind_Chill(F)          1066748 non-null  float64
 23  Humidity(%)            1470555 non-null  float64
 24  Pressure(in)           1479790 non-null  float64
 25  Visibility(mi)         1471853 non-null  float64
 26  Wind_Direction         1474206 non-null  object
 27  Wind_Speed(mph)        1387202 non-null  float64
 28  Precipitation(in)      1005515 non-null  float64
 29  Weather_Condition      1472057 non-null  object
 30  Amenity                1516064 non-null  bool
 31  Bump                   1516064 non-null  bool
 32  Crossing               1516064 non-null  bool
 33  Give_Way               1516064 non-null  bool
 34  Junction               1516064 non-null  bool
 35  No_Exit                1516064 non-null  bool
 36  Railway                1516064 non-null  bool
 37  Roundabout             1516064 non-null  bool
 38  Station                1516064 non-null  bool
 39  Stop                   1516064 non-null  bool
 40  Traffic_Calming        1516064 non-null  bool
 41  Traffic_Signal         1516064 non-null  bool
 42  Turning_Loop           1516064 non-null  bool
 43  Sunrise_Sunset         1515981 non-null  object
 44  Civil_Twilight         1515981 non-null  object
 45  Nautical_Twilight      1515981 non-null  object
 46  Astronomical_Twilight  1515981 non-null  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 412.1+ MB

In [50]:
## Load Only required columns to decrease the load time and decrease memory usage.

In [51]:
accidents_df.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [52]:
selected_columns = ['Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
                    'End_Lat', 'End_Lng', 'Distance(mi)', 'Description','City',
                    'State','Timezone','Weather_Condition']

In [53]:
%%time
accidents_df2 = pd.read_csv("/content/us-accidents/US_Accidents_Dec20_updated.csv",
                            usecols=selected_columns)

CPU times: user 8.28 s, sys: 568 ms, total: 8.85 s
Wall time: 8.88 s

In [54]:
accidents_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1516064 entries, 0 to 1516063
Data columns (total 13 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Severity           1516064 non-null  int64
 1   Start_Time         1516064 non-null  object
 2   End_Time           1516064 non-null  object
 3   Start_Lat          1516064 non-null  float64
 4   Start_Lng          1516064 non-null  float64
 5   End_Lat            1516064 non-null  float64
 6   End_Lng            1516064 non-null  float64
 7   Distance(mi)       1516064 non-null  float64
 8   Description        1516064 non-null  object
 9   City               1515981 non-null  object
 10  State              1516064 non-null  object
 11  Timezone           1513762 non-null  object
 12  Weather_Condition  1472057 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 150.4+ MB

In [55]:
# Use of smaller data type
selected_types = {
    "Severity" : "int16",
    "Start_Lat": "float32",
    "Start_Lng" : "float32",
    "End_Lat" : "float32",
    "End_Lng" : "float32",
    "Distance(mi)" : "float32"
}

In [56]:
%%time
accidents_df3 = pd.read_csv("/content/us-accidents/US_Accidents_Dec20_updated.csv",usecols=selected_columns,
                            dtype=selected_types, parse_dates=['Start_Time', 'End_Time'])

CPU times: user 9.96 s, sys: 323 ms, total: 10.3 s
Wall time: 12.1 s

In [57]:
accidents_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1516064 entries, 0 to 1516063
Data columns (total 13 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Severity           1516064 non-null  int16
 1   Start_Time         1516064 non-null  datetime64[ns]
 2   End_Time           1516064 non-null  datetime64[ns]
 3   Start_Lat          1516064 non-null  float32
 4   Start_Lng          1516064 non-null  float32
 5   End_Lat            1516064 non-null  float32
 6   End_Lng            1516064 non-null  float32
 7   Distance(mi)       1516064 non-null  float32
 8   Description        1516064 non-null  object
 9   City               1515981 non-null  object
 10  State              1516064 non-null  object
 11  Timezone           1513762 non-null  object
 12  Weather_Condition  1472057 non-null  object
dtypes: datetime64[ns](2), float32(5), int16(1), object(5)
memory usage: 112.8+ MB

In [58]:
## Using binary formats for intermediate results

In [59]:
!pip install pyarrow --quiet

In [60]:
## Lets save the first data frame to feather format
accidents_df.to_feather("us-accidents.feather")

In [61]:
### Load the data from feather format instead of CSV file

In [62]:
%%time
accidents_df4 = pd.read_feather("us-accidents.feather")

CPU times: user 3.77 s, sys: 1.41 s, total: 5.18 s
Wall time: 4.73 s

In [63]:
## Working with Sample

In [64]:
%%time
accidents_sample_df = pd.read_csv("/content/us-accidents/US_Accidents_Dec20_updated.csv", 
                                  parse_dates=['Start_Time', 'End_Time'], nrows=10000)

CPU times: user 537 ms, sys: 169 ms, total: 706 ms
Wall time: 868 ms

In [65]:
# Using dask for parallelism and memory efficiency

In [66]:
!pip install "dask[dataframe]" --quiet

In [67]:
import dask.dataframe as dd

In [68]:
%%time
accidents_dask_df = dd.read_csv("/content/us-accidents/US_Accidents_Dec20_updated.csv",dtype="object")

CPU times: user 52.7 ms, sys: 4.77 ms, total: 57.5 ms
Wall time: 90.6 ms

In [69]:
accidents_dask_df.info(memory_usage=True)

<class 'dask.dataframe.core.DataFrame'>
Columns: 47 entries, ID to Astronomical_Twilight
dtypes: object(47)
memory usage: 543.6 MB

In [70]:
jovian.commit(project="processing-huge-data")

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...

[jovian] Error: Looks like the notebook is missing output cells, please save the notebook and try jovian.commit again.

Committed successfully! https://jovian.ai/phegde/processing-huge-data

'https://jovian.ai/phegde/processing-huge-data'